input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    margin-bottom: 0;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    &:focus {
        color: $oil;
    }
}

div.validation-summary-errors {
    color: $alert-color;
}

span.required {
    color: $alert-color;
}

small.error-message, .field-validation-error {
    display: block;
    padding: .375rem .5625rem .5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: normal;
    font-style: italic;
    background: #f04124;
    color: #fff;
}
